@import 'variables';
$font-family: 'Montserrat', sans-serif;
$font-color: darken(gray, 20%);


body, h1, h2, h3, h4, h5 ,h6, p  {
  font-family: $font-family ;
  color: $font-color;
}

.cursive{
  font-style: italic;
}

h1 {
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 16px;
    @media screen and (max-width: 39.9375em) {

      font-size: 28px;
 }
}

.button {
  background-color: $button-color;
}
.button:focus, .button:hover {

  background-color: lighten($button-color, 30%);
  transition: all .5s ease-in-out;
  color: black;

}

.label {
  font-size: 10px;
}
span.siteName {

  a {color: black;}
}

.label {
  background-color: $label-color;

  @media screen and (max-width: 39.9375em) {

    font-size: 8px;
  }


}

.label2 {
  background-color: $label2-color;
}

.label3 {
  background-color: $label3-color;
}


.sitename {

  position: relative;
  top: -8px;

  @media (max-width: 63.9375em ) {
    display: none;
  }
}

span.namePart1  {
  color: rgb(77,77,77);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

span.namePart2 {
  color: rgb(77,77,77);
  font-size: 28px;
  font-weight: 300;
}


.sitenameMobile {


  display: none;
  margin-left: 20px;

  @media (max-width: 63.9375em ) {
    display: inline-block;
  }
  span.namePart1 { font-size: 14px;}
  span.namePart2 { font-size: 22px;}

}
