@import '../variables';

body {

  background: $body-color;
}

hr {

  height: 0;
  border:0;
  border-top: dashed 1px gray;
  margin: 25px 0;

}

hr.two {
  border-top: 1px solid lightgray;
  margin: 7px 0;
}

.block {
  border: $border;
  margin: 30px 10px;
  padding: 20px;
  position: relative;
  @media screen and (max-width: 39.9375em) {
    padding: 5px; }
}

.boxTitle {

  i{
    color: $text-color;
  }

  color: $text-color;
  background-color: $body-color;
  position: absolute;
  top: -18px;
  padding: 5px 10px;
  // border: 1px solid gray;
  font-size: 15px;
  display: inline-block;
}

p{
  font-size: 12px; }



  .pagination .current {

    background-color: $button-color;
  }

  .userSmallImage {
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    top: -10px;
  }

//OFF-CANVAS
.position-left.is-transition-push, .position-right.is-transition-push {
  box-shadow: none;
  width: 350px;
  position: fixed;


}

.position-right.is-transition-push {
  width: 250px;
}

.js-off-canvas-overlay.is-overlay-fixed {
  background-color: rgba(80,80,80,.7);
}

.off-canvas.is-transition-overlap.is-open {
    /* box-shadow: 0 0 10px rgba(10,10,10,.7); */
    width: 356px;
    // position: fixed;
    top: 144px;
    padding-bottom: 144px; }


  // MOST POPULAR DROPDWON ON WEBSITE
  .dropdown.mydropdown  {
    display: inline-block;
    position: absolute;
    right: 0px;
    top:5px;
    width: 20px;

    i {color: darken(lightgray, 5%);}

    li.is-dropdown-submenu-parent>a::after {
      display: none;
    }

    ul {
      margin: 0;
    }

    li a  {
      color: gray;
      padding: 0;
      cursor: pointer;
    }
    li a {
      padding: 0;

      &::after {
        display: none;
      }

      &:focus {
        color: lightgray;
      }
    }

    li  ul {
      list-style: none;
      background-color: white;
      border: 1px solid lightgray;
      box-shadow: 0 0 2px lightgray;
      margin-left: -1590px;
      margin-top: 10px;

      a{
        color: gray;
      }

      li {
        font-size: 10px;
        list-style: none;
        padding: 15px 10px;
        width: 100%;
      }

      li:hover {
        background: rgba(0,0,0,.2);
        color: white;
      }
    }
  }

// TOLTIP ELEMENT
.has-tip {
  position: static;
  display: inline-block;
  border-bottom: none;
  font-weight: normal;
}

