
header {
	background: url('../../img/brickwall.png') bottom;
	height: 600px;
	background-attachment: fixed;
	position: relative;

	p{
		font-size: 14px;
	}


	.userOptions {

		display: inline-block;
		position: relative;
		top: 2px;


		a{
			color: darkgray;
		}

		i{
			color: black;
			font-size: 18px;
		}


		ul.dropdown.menu {

			display: inline-block;


			li a {
				padding: 0;

				&::after {
					display: none;
				}

				&:focus {
					color: lightgray;
				}
			}

			li  ul {
				list-style: none;
				background-color: white;
				border: 1px solid lightgray;
				box-shadow: 0 0 2px lightgray;


				a{
					color: gray;
				}

				li {
					font-size: 10px;
					list-style: none;
					padding: 15px 10px;
					margin: 0;
					text-transform: none;
				}

				li:hover {
					background: rgba(0,0,0,.2);
					color: white;
				}
			}
		}
	}

	.top-bar {
		background: rgba(0,0,0,.2);
		padding: 20px 10px;
		padding-top: 40px;
		transition: .6s all ease-in-out;
		position: relative;
		justify-content: space-around;


		@media (max-width: 63.9375em ) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 99;
			background: rgba(180,180,180,.8);
			border-bottom: 3px solid lighten(gray, 20%);
			flex-direction: column;
			padding-right: 0px;
			padding-left: 0px;
			justify-content: flex-start;


			.dropdown.menu li a {
				font-size: 16px;
				padding: 20px 8px 0px 8px;
				color: #4d4d4d;
				transition: all .3s ease-in-out;
				&:hover {
					color: white;
				}
			}

			@media screen and (max-width: 32em) {

				.dropdown.menu li a {
					font-size: 11px;
					padding: 20px 2px 0px 2px;
				}

			}
		}


		.hidden-links {
			position: absolute;
			right: 0px;
			top: 100%;

			li {
				display: block;
				border-top: 1px solid black;
			}
		}

		.rightPanelWrapper {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			justify-content: space-between;
			position: relative;
			top: 8px;

			@media (max-width: 63.9375em ) {

				width: 100%;
				order: -1;


				.userOptions {
					// order: -1;
				}

				.sitenameMobile {
					display: inline-block;
				}

			}

			@media screen and (max-width: 39.9375em) {
				.youAreSignInAs { display: none;}

			}

			p {
				font-size: 11px;
				display: inline-block;
			}


		}


		.button.showUserInfoOffCanvas {
			padding: 2px;
			border-radius: 6px;
			font-size: 10px;
			// display: inline-block;
			background-color: gray;
			margin-bottom: 0;
			display: inline-block;
			// position: relative;
			// top: 8px;
			}

			a{
				color: white;

				&:hover {
					color: #4d4d4d;
				}
			}
			.menu-text {
				color: white;
			}

			ul {
				background: none;
				li {
					text-transform: uppercase;
					margin: 0 5px;

					@media (max-width: 63.9375em ) {

					}

				}
			}

			.menu .button {
				margin: 5px;
			}

			.icon-bell {
				position: relative;
				margin-right: 10px;

			}

			.notification {
				position: relative;
				display: inline-block;
			}

			.unreadNotificationCounter {
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: rgb(200,0,0);
				position: absolute;
				bottom: 33px;
				left: 9px;
				color: white;
				text-align: center;
				font-size: 14px;
				line-height: 25px;

				@media (max-width: 63.9375em ) {

					// bottom: 12px;

				}
			}
		}


		.searchBox {
			position: absolute;
			bottom: 60px;
			right:0;
			left: 0;



			input {
				width: 40%;
				display: inline-block;
				background: transparent;
				border: 1px solid gray;
				color: gray;
				box-shadow: none;

				&.location {
					width: 20%;
					@media(max-width: 800px){
						width: 40%;
					}
				}

			}

			input::placeholder {
				color: rgba(0,0,0,.5);}

				input:focus {

					border-radius: 0;
					overflow: hidden;
					background: transparent;

				}

				input:hover {
					border: 1px solid black;

				}
			}


			.button {
				display: inline-block;
			}

			.rightPanelWrapper {



				.dropdown.menu>li.opens-right>.is-dropdown-submenu {
				}


				li a {
					padding: 0;

					&::after {
						display: none;
						height: 0;
					}

					&:focus {
						color: lightgray;
					}
				}

				li  ul {
					list-style: none;
					background-color: white;
					border: 1px solid lightgray;
					box-shadow: 0 0 2px lightgray;


					a{
						color: gray;
						padding: 0;
					}

					li {
						font-size: 10px;
						list-style: none;
						padding: 15px 10px;
						margin: 0;
						text-transform: none;
					}

					li:hover {
						background: rgba(0,0,0,.2);
						color: white;
					}
				}
			}

			ul.rightPanel {
				list-style: none;

			}
		}
