.singleArticle {

  padding: 30px;
  margin: 10px;
  position: relative;

  img {
    display: block;
    max-width:150px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    filter: opacity(.8);
  }

  .button {
    position: absolute;
    bottom: 8px;
  }

  p{
    padding-bottom: 30px;
  }

}
