#lastViewed {

  position: relative;



  h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
  }

  span {
    font-size: 12px;
  }
  i{
    margin: 1px;
  }

  .label {
    font-size: 9px;
  }

  .postImportantInfo {
    margin: 0;
  }

  .button {
    margin-top: 15px;
    display: block;
  }

  a {
    color: #000;
  }

  .arrows {
    width: 10px;
    height: 10px;
    border-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    cursor: pointer;
  }

  .prev {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 10px;

  }

  .next {
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-135deg);
    right: 10px;

  }

  .boxTitle {
    top: -13px;

  }


}
