@import '../variables';

#advertisementsArea {
  height: 800px;

  // @media screen and (max-width: 64em){
  //   height: 100px;
  }


#advertisements-BHP {
    position: relative;
    border: none;
    padding: 0;
}

  .advert {
    width: 95%;
    margin: 20px auto;
    // box-shadow: 0 0 40px lightgray;
    padding: 10px;
    background-color: #fff;
    position: relative;

    .labelWrapper {
      display: inline-block;
      position: relative;
      top: -12px;
      margin-right: 60px;
      margin-top: 5px;
    }

    .button {
      margin: 10px;
      padding: 8px;
    }

    p{
      padding: 15px;
      margin-bottom: 0;
    }

  }


  .postData {
    font-size: 10px;
    color: gray;
    display: inline-block;
    margin-right: 40px;
  }

  .userPublishesName {
    display: block;
    font-weight: 600;
    color: black;
  }

  .postTitle {
    margin: 20px 5px 15px 25px;
    font-weight: 600;
  }


  .postImportantInfo {
    margin: 5px 20px;
    i {
      margin-left: 8px;}

      span {

        display: inline-block;
        font-size: 12px;

      }
    }

    // --- DROPDOWN MENU STYLE ---
    .postMoreOptions {
      position: absolute;
      top: 5px;
      right: 8px;

      a{
        color: darkgray;
      }

      .icon-star {
        color: gold;
      }

      ul.dropdown.menu {
        display: inline-block;

        li a {
          padding: 0;

          &::after {
            display: none;
          }

          &:focus {
            color: lightgray;
          }
        }

        li  ul {
          list-style: none;
          background-color: white;
          border: 1px solid lightgray;
          box-shadow: 0 0 2px lightgray;
          margin-left: -1590px;
          margin-top: 10px;

          a{
            color: gray;
          }

          li {
            font-size: 10px;
            list-style: none;
            padding: 15px 10px;
          }

          li:hover {
            background: rgba(0,0,0,.2);
            color: white;
          }
        }
      }
    }
