#searchEngineArea {

  border: none;
  padding-right: 0;
  padding-left: 0;

  select {
    border-radius: 8px;
    font-size: 12px;
    color: gray;
    width: 100%;
  }
  label {
    margin-top: 20px;
    font-size: 12px;
  }

  .label {

    font-size: 9px;
  }

  ul {

    list-style: none;
    margin: 0;

    li{
      padding: 8px 10px;
      cursor: pointer;
      text-align: center;

      &:hover{

        background-color: rgb(58, 159, 192);

        a {color: white;}
      }

    }

    li.hovered {

      background-color: rgb(58, 159, 192);

      a{color: white;}
    }

    li a{
      font-size: 12px;
      color: gray;
    }
  }

  .switch {

    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: 5px;
  }
}
