#userInfo {


  position: relative;
  padding: 15px;
  padding-top: 50px;


  img {
    width: 100px;
    border-radius: 50%;
    display: table;
    margin: 8px auto;
    position: relative;
  }


  h5, h6 { text-align: center;}
  h6 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  p{
    font-size: 12px;
    text-align: center;
  }

  .button{
    margin-top: 30px;

  }
  .aboutUserWrapper {
    // box-shadow: 0 0 20px lighten(lightgray, 10%);
    margin: 5px 0;
    padding: 5px;
  }


  .myTeamUsers {
    ul{
      li {

        list-style: none;
        display: inline-block;
        margin-right: 12px;
        width: 70px;
        vertical-align: top;

        .smallImagePartners {
          width: 50px;
          height: 50px;
        }
        p {
          font-size: 8px;
          margin: 0;
        }
      }
    }
  }

  #unreadMessages, #myPartnes, #favouriteAdverts, #myActivity {

    position: relative; }

    #myActivity {

      h6 {
        margin-bottom: 30px;
      }
      p{
        text-align: left;
        font-size: 10px;
      }
    }

    #unreadMessages {

      .redDot {
        border-radius: 100%;
        position:relative;
        top: -3px;
        background-color: #c80000;
        font-size: 13px;
      }

      .unreadMsg {

        margin-top: 20px;

        p{
          text-align: left;
          font-size: 11px;
        }
        img {
          width: 40px;
          display: block;
          float: left;
          margin-right: 7px;
          margin-bottom: 0;

          &::before {
            content: "";
            clear: both;}
          }


          .msgUser {
            font-weight: bold;
            font-size: 10px;

            a{
              color: black;
            }

          }
          .msgTime {
            font-size: 10px;
            position: relative;
            left: 20px;

          }
        }
      }

      #favouriteAdverts {

        .favouriteAdvert:first-child {
          margin-top: 15px;
        }


        img {
          width: 25px;
          height: 25px;
          display: inline-block;
          margin: 0;
          position: relative;
          margin-top: -9px;
        }

        .postData {
          font-size: 9px;
          color: gray;
          display: inline-block;
          margin-right: 40px;

          .userPublishesName {
            display: block;
            font-weight: 600;
            color: black;
          }
        }


        p{

          text-align: left;
          font-size: 9px;
          margin-bottom: 0;
        }

        i {
          margin: 0;
        }

        .postImportantInfo {

          span {

            font-size:8px;
          }
          margin: 0;
          margin-top: 5px;
        }
      }
    }
