#add-advertisements {

  padding: 40px;

  button#saveAndPublsh {
    margin-right: 8px;
  }


    &.second {
      background-color: #BCCF02;
    }
  }

  form textarea {
    resize: none;
  }

  label select option {
    font-size: 14px;
  }

  input, select {
    font-size: 12px;
    color: gray;
    height: 35px;
  }

  i {
    margin-right: 4px;
    margin-left: 2px;
  }

  fieldset {

    span {
      display: inline-block;
    }

  input {
    position: relative;
    top: 8px;}


    [type=checkbox]+label {
      margin-right: 8px;
      margin-left: 1px;
    }

    .addCustomCategory {
      display: block;
      width: 50%;
      margin-top: 20px;
    }

    .button {
      display: inline-block;
      padding: 6px;
      background-color: lightgray;
    }


}
