#advertisements-BHP-details {
  position: relative;

  h6 {
    font-size:15px;

  }

  .icon-star {
    font-size: 18px;
    color: #e6c200;
    position: absolute;
    top: -12px;
    right: 2px;
    display: inline-block;
    z-index: 5;
  }

  .advert {
    padding: 30px;
    padding-bottom: 15px;
    background-color: darken(white, 4%);

    @media screen and (max-width: 39.9375em) {
    padding: 8px; }
  }

  .advertDetails {

    margin-top: 30px;
    font-size: 12px;

    ul li{
      // padding-left: 30px;
    }

    p {
      padding: 0; margin-bottom: 15px;
    }
  }

  .postImportantInfo span{
    font-size: 12px;
    margin-right: 0;

  }

  .postTitle {
    font-size: 18px;
    margin-top: 20px;
  }

  h6 {
    margin-bottom: 18px;
  }

  .interestedUsers {

    margin-top: 30px;
    ul{

      margin: 0;

      li {
        vertical-align: top;
        list-style: none;
        display: inline-block;
        margin-right: 12px;
        width: 70px;

        .smallImagePartners {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: block;
          margin: 0 auto;

        }

        p {
          font-size: 8px;
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  .commentsForAdvert {

    padding: 30px;
    padding-top: 0;


    button.reply {
      background-color: gray;
      padding: 5px;
      font-size: 9px;
      position: absolute;
      right: 3px;
      bottom: 3px;
      display: inline-block;
      margin: 0;
    }


    .favouriteAdvert:first-child {
      margin-top: 15px;
    }


    .postData{
      font-size: 8px;
    }


    .singleComment{

      display: inline-block;
      width: 80%;
      border-radius: 7px;
      background-color: lighten(lightgray, 15%);
      border:1px solid #ddd;
      padding: 5px;
      position: relative;
      margin-bottom: 25px;
      margin-left: 40px;


      a img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0;
        position: relative;
        margin-top: -7px;
        vertical-align: top;
        position: absolute;
        left: -38px;
        top:  20px;
      }

      p{

        text-align: left;
        font-size: 10px;
        margin-bottom: 15px;
        padding: 0;
      }

      span.time {
        font-size: 9px;
        position: absolute;
        bottom: -15px;
      }

      span.userPublishesName {
        font-size: 11px;
      }

      &.reply {
        position: relative;
        left: 30px;
      }
    }
  }

  .button {
    margin-top: 50px;
  }

  .addCommentAsInterestedUser {

    position: relative;
    display: none;
    margin-bottom: 30px;

    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0;
      margin-top: -7px;
      vertical-align: top;
      display: inline-block;
      position: relative;
      top: 10px;
    }

    textarea {
      display: inline-block;
      width: 70%;
      resize: none;
      border-radius: 5px;
    }
  }

  .addCommentAsOwner {

    position: relative;
    left: 35px;
    top: 10px;


    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0;
      margin-top: -7px;
      vertical-align: top;
      display: inline-block;
      position: relative;
      top: 10px;
    }

    textarea {
      display: inline-block;
      width: 70%;
      resize: none;
      border-radius: 5px;
    }

  }


  button#addReplyButton, button#addCommentAsInterestedUserButton {
    background-color: gray;
    padding: 5px;
    font-size: 9px;
    margin: 0;
    display: block;
    position: absolute;
    bottom: -8px;
    right: 23%;
  }

}
