#registrationArea {


  padding-top: 200px;

}

$registrationHeaderHeight: 350px;

.headerForUnsigned {

  height: $registrationHeaderHeight;
  position: relative;

}


.unsignedText {

  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: calc(#{$registrationHeaderHeight} - 140px);

  text-align: center;

  h2 {
    font-weight: 100;
    font-size: 30px;

    @media screen and (max-width: 39.9375em) {

      font-size: 20px;

    }
  }
}






