#signInuserSinglePage {
  background-color: darken(white, 5%);

  @media screen and (max-width: 39.9375em) {
    padding: 2px; }

   hr {
    margin: 0;
  }
}

#signInuserSinglePage, #mainUserInfo {

  position: relative;

  .fi-x {
    font-size: 15px;
    color: lighten(black, 25%);
    position: absolute;
    top: 3px;
    right: 8px;
    display: inline-block;
    z-index: 5;
  }

  .label {
    font-size: 16px;
    padding: 10px;
    margin-top: 6px;
  }

  .userBasicInfo {
    position: relative;
    font-size: 12px;
    width: 100%;
    margin: 20px auto;

    .userBasicDataWrapper {
      margin: 20px auto;
      width: 70%;
      margin: 20px auto;
    }
    b{
      margin-right: 6px;
    }
  }


  span.test {
    display: inline-block;
    position: absolute;
    right: 0;
  }


  .rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    cursor: pointer;

  }

  /* Idle State of the stars */
  .rating-stars ul > li.star > i {
    font-size:16px; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }

  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i {
    color: darken(gold, 5%);
    ;
  }

  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i {
    color: gold;
    ;
  }

  .myTeamUsers {
    ul li a p{
      font-size: 9px;
    }
  }

  img {
    width: 100px;
    border-radius: 50%;
    display: table;
    margin: 8px auto;
  }

  h5, h6 {
    text-align: center;
    padding: 10px;
    margin-bottom: 7px;
  }

  h6 {
    margin-bottom: 25px;
  }


  p{
    font-size: 12px;
    margin-bottom: 4px;
  }

  li{font-size: 12px;}

  .aboutUserWrapper {

    margin: 5px 0;
    padding: 5px;
    margin-top: 30px;
    position: relative;

    ul.userlist {
      margin-left: 50px;}
    }


    input {
      width: auto;
      margin: 0 auto;
    }

    .userOpinion {
      ul {
        margin: 20px 0;

        li{
          list-style: none;
          margin-bottom: 15px;
          i {
            color: darken(gold, 5%);
          }

          p {
            padding: 0;
            margin: 0;
            text-align: left;

          }
        }

      }

      .starsUserOpinion {

        cursor: pointer;
        &:hover {
          color: darken(gold, 5%);

        }
      }

      textarea{
        resize: none;
      }

    }

    .myTeamUsers {
      ul{
        li {

          list-style: none;
          display: inline-block;
          margin-right: 12px;
          width: 70px;
          vertical-align: top;
          position: relative;

          .smallImagePartners {
            width: 50px;
            height: 50px;
          }
          p {
            font-size: 8px;
            margin: 0;
            text-align: center;
          }
        }
      }
    }

    i.fi-dollar {
      font-size: 24px;
      margin-right: 6px;
      position: relative;
      top: 3px;

    }

  }
