@import '../variables';

#user-advertisements {

	padding: 0;
	border: none;

	.advert.draft {

		.boxTitle {
			color: white;
			background-color: #A63305;
			padding: 2px 15px;
			font-size: 13px;
			top: -10px;
		}



		padding-top: 25px;

		i {
			color: black;
		}

		background-color: $body-color;
		border: 1px solid #A63305;
	}
}
