#messagesArea {

	background-color: darken(white, 2%);

	.left-panel, .rigt-panel {
		padding: 10px;
	}

	@media screen and (min-width: 39.9375em) {

		.left-panel {
			border-right: 1px solid lightgray;
		}
	}

	#lastMessages {

		.redDot {
			border-radius: 100%;
			position:relative;
			top: -3px;
			background-color: #c80000;
			font-size: 13px;
		}

		p{
			margin-top: 8px;
			text-align: left;
			font-size: 10px;
			margin-bottom: 0;
		}

		.lastMsg {

			display: flex;
			// flex-wrap: wrap;
			flex-direction: column;
			position: relative;
			padding: 8px 0px;
			border-bottom: 1px solid lightgray;


			@media screen and (min-width: 39.9375em) {

				&:last-child {
					border: none;
				}
			}

			.msgData {

				display: flex;

				.flex1 {
					flex: 1;
				}
			}


			img {
				width: 55px;
				height: 55px;
				display: block;
				margin-right: 7px;
				margin-bottom: 0;
				border-radius: 50%;

				@media screen and (max-width: 39.9375em) {

					width: 45px;
					height: 45px;
				}
			}

			.msgUser {
				font-weight: bold;
				font-size: 11px;

				a{
					color: darken(darkgray, 35%);
				}

			}
			.msgTime {
				font-size: 10px;
				position: relative;
				top: -8px;
			}

		}
	}

	#fullMessages {

		.fullMsgData {
			display: flex;
			justify-content:space-between;
		}


		.dataItem {
			margin: 15px;
			display: flex;
			a{
				color: darken(darkgray, 35%);
			}
		}

		.dataTimeStamp{
			display: flex;
			flex-direction: column;
			margin: 15px;
			color: gray;
			font-size: 11px;

		}


		img {
			width: 70px;
			height: 70px;
			display: block;
			margin-right: 7px;
			margin-bottom: 0;
			border-radius: 50%;
		}


		p{
			padding: 20px;
		}


		.responseArea {
			position: relative;

			#responseToTheMsg {
				margin: 10px;
				resize: none;
				padding-right: 30px;
				padding-bottom: 50px;
				border-radius: 5px;

				@media screen and (max-width: 39.9375em) {

					margin: 0;
				}
			}

			.button {
				position: absolute;
				bottom: -30px;
				right: 2px;
				border-radius: 5px;
				background-color: lightgray;
				padding-right: 30px;
				padding-left: 30px;
				color: black;

				&:hover {
					color: white;
					background-color: gray;
				}

			}
		}

		.msgContent-User {

		}

	}
}
