
.icon-dot-3:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-bell:before { content: '\e807'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */